body {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  min-height: 600px;
}

header {
  flex: 0 100px;
}

main {
  flex: 1 calc(100vh - 180px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

main.creater {
  flex: 1 calc(100vh - 150px);
  display: flex;
  flex-direction: row !important;
  align-items: stretch !important;
}

.column-holder {
  padding: 0 15px;
}

footer {
  flex: 0 30px;
}

.swapper {
  margin: 10px 20px 10px 0 !important;
}

.teampic {
  width: 200px;
  height: auto;
  border-style: solid;
}

.team-name {
  padding: 40px;
}

@media (max-width: 10.35in) {
  h2 {
    display: none;
  }
  .no-squish {
    flex-direction: column;
  }
  .stretcher {
    width: 100% !important;
  }
}

@media (max-width: 8in) {
  header {
    display: none !important;
  }
  div.go-away {
    display: none;
  }

  footer {
    display: none;
  }
}

footer a {
  float: right;
}